.services-area {
  padding: 50px;
}
.single-service {
  border: 1px solid #f5f5f5;
  border-radius: 5px 0 0 5px;
}
.single-service-text {
  padding: 15px 10px;
}
.single-service-text .service-button {
  background-color: #7952b3;
  border: 1px solid #7952b3;
  padding: 8px 25px;
  border-radius: 5px;
  text-align: center;
}
.single-service-text h3 {
  font-size: 22px;
}
.single-service-text h4 {
  font-size: 16px;
  font-weight: 700;
}
